body {
    background-color: rgb(153,153,255);
  }

button {
  width: 95px;
  height: 60px;
  background-color: aquamarine;
  align-items: center;
  display: inline-block;
  margin: 10px 6px;
  border-radius: 50%;
  transition-duration: .4s;
  white-space: normal;
  text-align: center;
vertical-align: middle;  
}

button:hover {
  opacity: .5;
}

#btn_row {
  background-color: teal;
  display: inline-block;
  margin-top: 45px;
  margin-left: 165px;
}

.row {
  display: flex;
  text-align: center;
  width: auto;
}

#demo1 {
  background-color: red;
}

#demo2 {
  background-color: green;
}

#demo3 { 
  background-color: purple;
}

#demo {
  background-color: orange;
}

a {
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 43px;
  z-index: -1;
}
 


#display_element {
  color: black;
  background-color: white;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  opacity: 1;
  height: 95px;
  width: 95px;
  z-index: 1;
  position: absolute;
}



.other_elements {
  padding-top: 10px;
}

.periodic_elements {
  background-color: rgb(153,153,255);
  z-index: 0;
  margin-left: 25px;
  margin-top: 15px;
}

.element_cell {
  align-items: center;
  justify-content: center;
  font-weight: bold;
  box-sizing: border-box;
  border-radius: 3px;
  margin: 1px;
  display: block;
  width: 45px;
  height: 45px;
}

.blank_cell {
  align-items: center;
  justify-content: center;
  font-weight: bold;
  box-sizing: border-box;
  border-radius: 3px;
  margin: 1px;
  display: block;
  width: 45px;
  height: 45px;
  opacity: 1;
  color: red;
}


.test_div_after {
  background-color: red;
}

.test_div {
  background-color: greenyellow;
}

.test_div:hover {
  background-color: white;
  opacity: 1;
  border: 5px solid red
}

.noble_after {
  align-items: center;
  justify-content: center;
  font-weight: bold;
  box-sizing: border-box;
  border-radius: 3px;
  margin: 1px;
  display: block;
  width: 45px;
  height: 45px;
  background-color: red;

}

  table {
    border-collapse: collapse;
    width: 100%;
    width:200px;
    position: absolute;
    margin-left: auto;
    margin-right: auto
  
  }

  th, td {
    padding: 8px;
    text-align: center;
    border: 1px solid #DDD;
  }
  
          .alkali{
          background-color:#99e6ff;
          }
          
          .alkali-earth{
          background-color:pink;
          }
          
          .transition{
          background-color:#b399ff;
          }
          
          
          .metalloids{
          background-color:yellow;
          }
          
      
          .noble{
          background-color: #ffb3b3;
          }
          
          .nonmetal{
          background-color:#99b3ff;
          }
          
          .post-transition{
          background-color:green; 
          }
          
          .lan{
          background-color:#66ffb3;
          }
          
          
          .act{
          background-color:orange;
          }
          
          .unknown{
          background-color:gray;
          }
          
          #hide{
          border:none;
          }
  
          .element_cell:hover {
            opacity: 1;
            background-color: white !important;
            border-radius: 8px;
          }
  
      tD:hover {color:red;
          }

  .highlight-cell {
    align-items: center;
    justify-content: center;
    font-weight: bold;
    box-sizing: border-box;
    border-radius: 3px;
    margin: 1px;
    display: block;
    width: 45px;
    height: 45px;
    background-color: yellow;
    opacity: .8;
  }

  .jquery_style {
    background-color: red;
  }

  #j-demo:hover {
    background-color: white;
  }

  .alkali-after {
    background-color: red;
  }

  .element_cell-after {
    background-color: aqua;
    opacity: .5;
  }