body {
  background-color: #ccddff;
}

button {
  width: 80px;
  height: 50px;
  background-color: aquamarine;
  align-items: center;
  display: inline-block;
  margin: 10px 6px;
  border-radius: 50%;
  transition-duration: .4s;
  white-space: normal;
  text-align: center;
  vertical-align: middle;
}

button:hover {
  opacity: .5;
}


.row {
  display: flex;
  text-align: center;
  width: auto;
}

#demo1 {
  font-size: 2em;
}

#demo2 {
  font-size: 2em;
}

#demo3 {
  font-size: 2em;
}

#demo {
  font-size: 2em;
}

a {
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 43px;
  z-index: -1;
  text-decoration: none;
  color: black;
  pointer-events: none;
}

/* issue faced: js function would end when anchor tag was selected, used pointer events to stop that*/

.info {
  width: 100%;
}

#display_element {
  color: black;
  background-color: #6699ff;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;
  margin-top: 1%;
  margin-left: 15%;
  border: 5px solid black;
  opacity: 1;
  height: 220px;
  width: 220px;
  z-index: 1;
  position: absolute;
}

#btn_row {
  width: 33%;
  background-color: #6699ff;
  display: inline-block;
  margin-top: 1%;
  margin-left: 33%;
  margin-right: 33%;
  border-radius: 5px;
  border: 5px solid black;
  text-align: center;
}

.other_elements {
  padding-top: 10px;
}

.periodic_div {
  width: 70%;
  margin-left: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.periodic_elements {
  z-index: 0;
  margin-top: 3%;
}

.element_cell {
  align-items: center;
  justify-content: center;
  font-weight: bold;
  box-sizing: border-box;
  border-radius: 3px;
  margin: 1px;
  display: block;
  width: 45px;
  height: 45px;
}

.blank_cell {
  align-items: center;
  justify-content: center;
  font-weight: bold;
  box-sizing: border-box;
  border-radius: 3px;
  margin: 1px;
  display: block;
  width: 45px;
  height: 45px;
  opacity: 1;
  color: red;
}

table {
  border-collapse: collapse;
  width: 100%;
  width: 200px;
  position: absolute;
  margin-left: auto;
  margin-right: auto
}

th,
td {
  padding: 8px;
  text-align: center;
  border: 1px solid #DDD;
}

.alkali {
  background-color: #99e6ff;
}

.alkali-earth {
  background-color: pink;
}

.transition {
  background-color: #b399ff;
}


.metalloids {
  background-color: yellow;
}


.noble {
  background-color: #ffb3b3;
}

.nonmetal {
  background-color: #99b3ff;
}

.post-transition {
  background-color: green;
}

.lan {
  background-color: #66ffb3;
}


.act {
  background-color: orange;
}

.unknown {
  background-color: gray;
}

#hide {
  border: none;
}

.element_cell:hover {
  opacity: 1;
  background-color: white !important;
  border-radius: 8px;
}
/*would consider adding an on/off button for hover effects for accessibility*/

tD:hover {
  color: red;
}

.highlight-cell {
  align-items: center;
  justify-content: center;
  font-weight: bold;
  box-sizing: border-box;
  border-radius: 3px;
  margin: 1px;
  display: block;
  width: 45px;
  height: 45px;
  background-color: yellow;
  opacity: .8;
}
